.many_country_card{
    background-color: white 
}

.Drop_down_country{
    padding: 30px;
}
.Drop_down_country select{
    padding: 20px;
    position: relative;
    top:40px;
    width: 200px;
    background-color: rgb(228, 228, 228);
    border-radius: 20px;
   
}
.total{
    margin-top: 20px;
}
#country_title{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: absolute;
    top:46px;
    left:46px;

}

#back{
    position: absolute;
    left:13px;
    font-size: 20px;
    margin-top: 0px;
    
}